h1{
    color: gold;
    font-size: 40px;
    text-align: center;
}

.categories{
    color: orange;
    font-size: 15px;
    white-space: nowrap;
}

.homeT:hover{
    color: gray;
    font-size: 16px;
    /* display: inline-block; */
}

.contactT:hover{
    color: gray;
    font-size: 16px;
    /* display: inline-block; */
}

.recordsT:hover{
    color: gray;
    font-size: 16px;
    /* display: inline-block; */
}

.rosterT:hover{
    color: gray;
    font-size: 16px;
    /* display: inline-block; */
}

.ordersT:hover{
    color: gray;
    font-size: 16px;
    /* display: inline-block; */
}

li{   
    padding: 15px;;
    text-align: center;
}
