h1{
    color: gold;
    font-size: 40px;
    text-align: center;
}

.centerContainer{
    text-align: center;
    background-color: orange;
}

.categories{
    color: orange;
    font-size: 19px;
    list-style: none;
    margin: 0 auto;
    
}

.categories li{
    display: inline-block;
    margin: 7%;
}

.homeT:hover{
    color: gray;
    font-size: 16px;
    -webkit-background-clip:content-box;
    background-color: gold;
   
}

.contactT:hover{
    color: gray;
    font-size: 16px;
    background-color: gold;
}

.recordsT:hover{
    color: gray;
    font-size: 16px;
    background-color: gold;
}

.rosterT:hover{
    color: gray;
    font-size: 16px;
    background-color: gold;
}

.ordersT:hover{
    color: gray;
    font-size: 16px;
    background-color: gold;
}



.contactData{
    white-space: pre;
}