h1{
    color: gold;
    font-size: 40px;
    text-align: center;
}
body{
    min-width: 955px;
    background: url("/css/images/Backgrounds/neumontcampus.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    /* background-image: url("/css/images/neumontcampus.jpg"); */
}

.background{
    background:rgba(192, 192, 192, .7);
    
}
.indexwelcome{
    margin-top: 10%;
    text-align: center;
    font-size: 50px;
    font-family: Oxygen;
    color: black;
    /* border: black; */
}

/* .centerContainer{
    text-align: center;
    background-color: orange;
}

.categories{
    color: orange;
    font-size: 19px;
    list-style: none;
    margin: 0 auto;
    
}

.categories li{
    display: inline-block;
    margin: 7%;
}

.homeT:hover{
    color: gray;
    font-size: 16px;
    -webkit-background-clip:content-box;
    background-color: gold;
   
}

.contactT:hover{
    color: gray;
    font-size: 16px;
    background-color: gold;
}

.recordsT:hover{
    color: gray;
    font-size: 16px;
    background-color: gold;
}

.rosterT:hover{
    color: gray;
    font-size: 16px;
    background-color: gold;
}

.ordersT:hover{
    color: gray;
    font-size: 16px;
    background-color: gold;
} */



.contactData{
    white-space: pre;
}

