
html 
    head
        title=title
        script(src="")
        link(rel="stylesheet", href="/css/stylesIndex.css")
    body
        div(class=["myContainer","roundedCorner"])
            h1(id="myH1")=h1Text
        div(class=["categories"])
            ul
                li: a(href="/") Home
                li: a(href="/contactUs") Contact Us 
                li: a(href="/roster") Roster
                li: a(href="/records") Previous Seasons
                li: a(href="/orders") Orders
            //- ol(class="teamRoster")

